VITE_OKTA_DOMAIN=dev-123456.okta.com
VITE_OKTA_AUTH_SERVER_ID=default
VITE_OKTA_CLIENT_ID=0oa1234567890abcdef
VITE_STORE_SERVICE_URL=http://localhost:3001
VITE_PAYMENT_SERVICE_URL=http://localhost:3002